.required:after {
	content: " *";
	color: red;
}
.action-column{
	text-align: center;	
}
.action-column{
	font-size: 18px;
}
.dt-buttons{

	float: left;
}
.dataTables_info{

	float: left;
}
.dt-buttons .btn-secondary{
	background: #8be1ef;
	border: 1px solid;
}

.alert-dismissible .close {    
	padding: 10px 10px;
}

.alert {
	
	padding: .75rem 1.25rem;
	margin-bottom: 0px;
}